html {
    height: 150vh;
}

.container {
    max-width: 1280px;
    margin: auto;
}

header {
    width: 100%;
    /*Deixar o menu comleto*/
    padding: 50px 3%;
    /*Espaçamento em cima e 3% dos lados no caso de telas maiores*/
    position: fixed;
    /*Vai deixar o menu fixo*/
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 1000;
    /* Vai deixar o conteudo da página por debaixo do menu */
}

header.rolar {
    /*Estilo da função de scroll*/
    background-color: black;
    /*Cor do menu*/
    padding: 20px 3%;
    /*Espaçamento em cima e 3% dos lados no caso de telas maiores*/

}

header img {
    /*IMAGEM*/
    height: 110px;
    /*Altura da imagem */
}

header ul {
    list-style: none;
    /*Para ficar sem as bolinhas */
}

header ul li {
    display: inline-block;
    /*Vai deixar o menu alinhado*/
    margin: 0 40px;
    /*Espaço entre cada um dos campos*/
}

header ul li a {
    color: white;
    /*Cor de texto dos campos*/
    text-decoration: none;
    /*Para não ficar sublinhado*/
}

/*Menu dropdown */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: #ffffff;
}

/* Estilização do menu dropdown */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;

    background-color: rgba(0, 0, 0, 0.641);
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li:hover {
    background-color: rgba(0, 0, 0, 0.833);
}


nav ul ul li {
    width: 100%;
    /* Ocupa a largura total do contêiner pai */
    float: none;
    display: list-item;
    position: relative;
    left: -40px;
}

/* Fim do Menu dropdown */

.sair input {
    width: 120px;
    /*Largura*/
    height: 40px;
    /*altura*/
    border: 4 white;
    background-color: #4d4d4d;
    /* Cor */
    color: white;
    cursor: pointer;
    transition: .2s;
}

.sair input:hover {
    background-color: #262626;
    /* Cor do botao sair quando se passa o cursor */
}

.banner {
    height: 70vh;
    /*Vai cobrir a tela toda*/
    background-image: url(imagens/halteres.jpeg);
    background-position: center;
    /* Coloca a imagem no centro da tela*/
    background-size: cover;
    /* Vai cobrir o banner inteiro*/

    display: flex;
    /*Para o h1*/
    align-items: center;
    /*Para o h1*/
    justify-content: center;
    /*Para o h1*/
}

.banner h1 {
    font-size: 4em;
    color: #FF4B63;
    /*Usei a cor referente a logo*/
    margin-bottom: 10px;
}


.banner h1 span {
    color: #191919;
}